@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h3 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

/* @media screen and (min-width: 800px){
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 
@media screen and (min-width: 1040px){
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}  */

.ff {
    width: 350px;
    height: 350px;
    object-fit: cover;
}




footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }